<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
  <h2>Create custom bikini</h2>
    <%= form_for @custom_bikini do |f| %>
      <%= f.label "Top design" %>
      <%= f.text_field :top_design, class: "form-control", id: "top_design_picked", placeholder: :top_design%>
      <%= f.label "Bottom design" %>
      <%= f.text_field :bottom_design, class: "form-control", id: "bottom_design_picked", placeholder: :bottom_design%>
      <%= f.label "Neck ties" %>
      <%= f.text_field :top_neck_tie_fill, class: "form-control", id: "top_neck_tie_fill_picked", placeholder: :top_neck_tie_fill%>
      <%= f.label "Top Main fill" %>
      <%= f.text_field :top_main_fill, class: "form-control", id: "top_main_fill_picked", placeholder: :top_main_fill%>
      <%= f.label "Top Ruffles" %>
      <%= f.text_field :top_ruffles_fill, class: "form-control top_ruffles_fill_picked", placeholder: :top_ruffles_fill%>
      <%= f.label "Top back ties" %>
      <%= f.text_field :top_back_tie_fill, class: "form-control", id: "top_back_tie_fill_picked", placeholder: :top_back_tie_fill%>
      <%= f.label "Bottom main fill" %>
      <%= f.text_field :bottom_main_fill, class: "form-control", id: "bottom_main_fill_picked", placeholder: :bottom_main_fill%>
      <%= f.label "Bottom laterals" %>
      <%= f.text_field :bottom_lateral_fill, class: "form-control", id: "bottom_lateral_fill_picked", placeholder: :bottom_lateral_fill%>
      <br>
      <%= f.submit "Create custom bikini", class: "btn btn-default col-sm-12"%>
    <% end %>
  </div>
</div>

