<div class="section">
  <div class="container spacer">
    <div class="row">
      <div class="col-md-6 custom-bikini">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" width="550" height="550" y="10">
          <%= render partial: 'custom_bikinis/halter_02' %>
          <%= render partial: 'custom_bikinis/bottom_02' %>
          <%= render partial: 'custom_bikinis/custom_bikini_patterns' %>
        </svg>
      </div>
      <div class="col-md-6">
      <br>
  <!--       Top Design: <input type="text" class= "top-design-pattern"><br>
        Bottom Design: <input type="text" class= "bottom-design-pattern"><br> -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Top colors & patterns</h3>
          </div>
          <div class="panel-body">
            <div class="col-md-6">
              <p>Neck ties:</p> 
              <% @colors.each do |color| %>
                <%= image_submit_tag(color.img(:thumb), type: :image, value: color.img.url, class: "top-neck-tie-pattern pallette-color", name: :top_neck_tie) %>
              <% end %><br>
              <% @patterns.each do |pattern| %>
                <%= image_submit_tag(pattern.img(:thumb), type: :image, value: pattern.img.url, class: "top-neck-tie-pattern pallette-color", name: :top_neck_tie) %>
              <% end %>
            </div>
            <div class="col-md-6">
              <p>Main section:</p> 
              <% @colors.each do |color| %>
                <%= image_submit_tag(color.img(:thumb), type: :image, value: color.img.url, class: "top-fill-pattern pallette-color", name: :top_fill) %>
              <% end %><br>
              <% @patterns.each do |pattern| %>
                <%= image_submit_tag(pattern.img(:thumb), type: :image, value: pattern.img.url, class: "top-fill-pattern pallette-color", name: :top_fill) %>
              <% end %>
            </div>
            <div class="col-md-6">
              <p>Back ties:</p>
              <% @colors.each do |color| %>
                <%= image_submit_tag(color.img(:thumb), type: :image, value: color.img.url, class: "top-back-tie-pattern pallette-color", name: :top_back_tie) %>
              <% end %><br>
              <% @patterns.each do |pattern| %>
                <%= image_submit_tag(pattern.img(:thumb), type: :image, value: pattern.img.url, class: "top-back-tie-pattern pallette-color", name: :top_back_tie) %>
              <% end %>
             </div>
            <div class="col-md-6">
              <p>Ruffles:</p>
              <% @colors.each do |color| %>
                <%= image_submit_tag(color.img(:thumb), type: :image, value: color.img.url, class: "top-ruffles-pattern pallette-color", name: :top_ruffles) %>
              <% end %><br>
              <% @patterns.each do |pattern| %>
                <%= image_submit_tag(pattern.img(:thumb), type: :image, value: pattern.img.url, class: "top-ruffles-pattern pallette-color", name: :top_ruffles) %>
              <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Bottom colors & patterns</h3>
            </div>
            <div class="panel-body">
              <div class="col-md-6">
                <p>Main section:</p>
                <% @colors.each do |color| %>
                  <%= image_submit_tag(color.img(:thumb), type: :image, value: color.img.url, class: "bottom-fill-pattern pallette-color", name: :bottom_fill) %>
                <% end %><br>
                <% @patterns.each do |pattern| %>
                  <%= image_submit_tag(pattern.img(:thumb), type: :image, value: pattern.img.url, class: "bottom-fill-pattern pallette-color", name: :bottom_fill) %>
                <% end %>
              </div>    
              <div col="col-md-6">
                <p>Laterals:</p>
                <% @colors.each do |color| %>
                  <%= image_submit_tag(color.img(:thumb), type: :image, value: color.img.url, class: "bottom-lateral-pattern pallette-color", name: :bottom_lateral) %>
                <% end %><br>
                <% @patterns.each do |pattern| %>
                  <%= image_submit_tag(pattern.img(:thumb), type: :image, value: pattern.img.url, class: "bottom-lateral-pattern pallette-color", name: :bottom_lateral) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <div class="row">
      <div class="col-md-12">
        <h3>Colores y estampados disponibles</h3>
      </div>
        <% @colors.each do |color| %>
          <div class="col-md-1">
            <%= image_tag color.img(:medium), class: "main-pallette-item" %><br>
            <p class="main-pallette-description"><%= color.name %></p>
          </div>
         <% end %>
      </div>
      <div class="row">
        <% @patterns.each do |pattern| %>
        <div class="col-md-1">
          <%= image_tag pattern.img(:medium), class: "main-pallette-item" %><br>
          <p class="main-pallette-description"><%= pattern.name %></p>
        </div>
       <% end %>
      </div>
    </div>
  </div>
</div>