<div class="container spacer">
  <div class="row">
    <h1> Admin panel </h1>
    <p><%= link_to t("log_out"), '/logout' %></p>
    <p><%= link_to t("add_product"), new_product_path %></p>
    <p><%= link_to t("add_client"), new_client_path %></p>
    <p><%= link_to t("add_color"), new_color_path %></p>
    <div class="col-sm-3">
    <h4> Published <h4>
      <% @products.each do |product| %>
        <% if product.published == true %>
          <li><%= image_tag product.img.url(:thumb)%><br>
            ID <%= product.id %> | <%= link_to product.title, product_path(product.id) %> | <%= link_to t("edit_product"), edit_product_path(product.id) %>
          </li> 
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-3">
    <h4> Unpublished <h4>
      <% @products.each do |product| %>
        <% if product.published != true %>
          <li><%= image_tag product.img.url(:thumb)%><br>
            ID <%= product.id %> | <%= link_to product.title, product_path(product.id) %> | <%= link_to t("edit_product"), edit_product_path(product.id) %>
          </li> 
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-3">
    <h4> Clients <h4>
      <% @clients.each do |client| %>
          <li><%= image_tag client.img.url(:thumb)%><br>
            ID <%= client.id %> 
          </li> 
      <% end %>
    </div>
    <div class="col-sm-3">
    <h4> Colors <h4>
      <% @colors.each do |color| %>
          <li><%= image_tag color.img.url(:thumb)%><br>
            ID <%= color.id %> | <%= link_to color.name, color_path(color.id) %> | <%= link_to "edit color", edit_color_path(color.id) %>
          </li> 
      <% end %>
    </div>
  </div>
</div>