<div class="container spacer">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
    <h2>Add client</h2>
      <%= form_for @client do |f| %>
        <%= f.label "Client picture" %>
        <%= f.file_field :img %>
        <%= f.label "Client" %>
        <%= f.text_field :name, class: "form-control", placeholder:"name" %>
        <br>
        <%= f.submit "Add client", class: "btn btn-default col-sm-12"%>
      <% end %>
    </div>
  </div>
</div>
