
<hr>

<div class="row">
  <div class="col-xs-9 col-xs-offset-2" >
    <h5><%= product.title %></h5>
  </div>
  <div class="col-xs-1 col-xs-offset-2">
    <%= image_tag product.img.url(:thumb)%>
    <%= form_for order_item, remote: true do |f| %>
      <%= link_to "Delete", order_item, { data: { confirm: "Are you sure you wish to delete the product '#{order_item.product.title}' from your cart?" }, method: :delete, remote: true} %>
  </div>

  <div class="col-xs-6 col-xs-offset-1">

    <div class="col-xs-4 cart-column" >
      <p>Price</p>
      <p>$<%= product.price %></p>
    </div>
 
    <div class="col-xs-4 cart-column">
      <p>QTY</p>
      <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control cart-qty", min: 1 %>
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>

    <div class="col-xs-4 cart-column" >
      <p>Total Price</p>
      <p><%= number_to_currency order_item.total_price %></p>
    </div>
    <% end %>

  </div>

</div>


