<div class="product-filter-container">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav filter">
        <li class="active" id="all-products"><a href="#">Todos los productos <span class="sr-only">(current)</span></a></li>
        <li id="bikinis"><a href="#"><%= t("two_pieces")%></a></li>
        <li id="trikinis"><a href="#"><%= t("trikinis") %></a></li>
        <li id="one-piece"><a href="#"><%= t("one_piece") %></a></li>
        <li id="cover-ups"><a href="#"><%= t("cover_ups") %></a></li>
        <li id="accessories"><a href="#"><%= t("accessories") %></a></li>
        <li id="clothing"><a href="#"><%= t("clothing") %></a></li>
      </ul>
    </div>
  </div>
</div>
