<div class="section">
  <div class="container spacer">
    <div class="row">
      <div class="col-md-6 custom-bikini">
        <svg id="Traje_6" data-name="Traje 6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496.07 395.59">
          <title>Halter Oppened - Regular Bottom</title>
          <%= render partial: 'products/custom_bikini_patterns' %>
          
          <g id="T6-2" data-name="T6">
            <path class="swimwear top-neck-tie" d="M327,59.8a5.94,5.94,0,1,0-11.13,2.9l-36.26,59,5.16,3.17,36.34-59.15A5.94,5.94,0,0,0,327,59.8Z" transform="translate(-2.43 -53.36)" fill= "#fff"/>
            <path class="swimwear top-neck-tie"d="M173.85,59.8A5.94,5.94,0,1,1,185,62.7l36.26,59-5.16,3.17L179.74,65.74A5.94,5.94,0,0,1,173.85,59.8Z" transform="translate(-2.43 -53.36)" fill= "#fff"/>
            <polygon class="swimwear bottom-linen" points="341.11 314.26 263.6 395.09 232.47 395.09 154.96 314.26 154.96 273.74 341.11 273.74 341.11 314.26" fill= "#fff"/>
            <polygon class="swimwear bottom-fill" points="335.06 308.06 335.06 314.27 262.58 389.84 233.49 389.84 161.01 314.27 161.01 308.06 154.96 308.06 154.96 314.26 232.47 395.09 263.6 395.09 341.11 314.26 341.11 308.06 335.06 308.06" fill= "#fff"/>
            <path class="swimwear bottom-fill" d="M343.54,367.62c-5.29,0-41.37-5.18-63.4,23.49-9.58,12.47-12.86,49.39-14.12,57.35H234.9c-1.4-8-4.92-45-14.77-57.49-22.11-28.1-57.19-23.24-62.75-23.34V327.1H343.54v40.52Z" transform="translate(-2.43 -53.36)" fill= "#fff"/>
            <path class="swimwear top-back-tie" d="M368.61,199q-13-3.82-25.07-8.21v25.61H157.39V190.83q-12,4.36-25.07,8.21C85,212.93,41.76,216,2.93,216.44v26.84H498V216.44C459.17,216,415.91,212.93,368.61,199Z" transform="translate(-2.43 -53.36)" fill= "#fff"/>
            <path class="swimwear top-fill" d="M281.3,118.78a56.52,56.52,0,0,1-61.67,0l-62.24,72v52.45H343.54V190.83Zm-31,76.8a12.94,12.94,0,0,1-12.72-15.29l8.57-46.37a4.26,4.26,0,0,1,8.38,0L263,180.32A12.94,12.94,0,0,1,250.29,195.58Z" transform="translate(-2.43 -53.36)" fill= "#fff"/>
            </g>
        </svg>
      </div>
    <div class="col-md-6">
    <br>
<!--       Top Design: <input type="text" class= "top-design-pattern"><br>
      Bottom Design: <input type="text" class= "bottom-design-pattern"><br> -->

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Top colors & patterns</h3>
        </div>
        <div class="panel-body">
          <div class="col-md-6">
            <p>Neck ties:</p> 
            <% Color.all.each do |color| %>
              <%= image_submit_tag(color.img(:thumb), type: :image, value: color.img.url, class: "top-neck-tie-pattern pallette-color", name: :top_neck_tie) %>
            <% end %><br>
            <% Pattern.all.each do |pattern| %>
              <%= image_submit_tag(pattern.img(:thumb), type: :image, value: pattern.img.url, class: "top-neck-tie-pattern pallette-color", name: :top_neck_tie) %>
            <% end %>
          </div>
          <div class="col-md-6">
            <p>Main section:</p> 
            <% Color.all.each do |color| %>
              <%= image_submit_tag(color.img(:thumb), type: :image, value: color.img.url, class: "top-fill-pattern pallette-color", name: :top_fill) %>
            <% end %><br>
            <% Pattern.all.each do |pattern| %>
              <%= image_submit_tag(pattern.img(:thumb), type: :image, value: pattern.img.url, class: "top-fill-pattern pallette-color", name: :top_fill) %>
            <% end %>
          </div>
          <div class="col-md-6">
            <p>Back ties:</p>
            <% Color.all.each do |color| %>
              <%= image_submit_tag(color.img(:thumb), type: :image, value: color.img.url, class: "top-back-tie-pattern pallette-color", name: :top_back_tie) %>
            <% end %><br>
            <% Pattern.all.each do |pattern| %>
              <%= image_submit_tag(pattern.img(:thumb), type: :image, value: pattern.img.url, class: "top-back-tie-pattern pallette-color", name: :top_back_tie) %>
            <% end %>
           </div>
          <div class="col-md-6">
            <p>Ruffles:</p>
            <% Color.all.each do |color| %>
              <%= image_submit_tag(color.img(:thumb), type: :image, value: color.img.url, class: "top-ruffles-pattern pallette-color", name: :top_ruffles) %>
            <% end %><br>
            <% Pattern.all.each do |pattern| %>
              <%= image_submit_tag(pattern.img(:thumb), type: :image, value: pattern.img.url, class: "top-ruffles-pattern pallette-color", name: :top_ruffles) %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Bottom colors & patterns</h3>
          </div>
          <div class="panel-body">
            <div class="col-md-6">
              <p>Main section:</p>
              <% Color.all.each do |color| %>
                <%= image_submit_tag(color.img(:thumb), type: :image, value: color.img.url, class: "bottom-fill-pattern pallette-color", name: :bottom_fill) %>
              <% end %><br>
              <% Pattern.all.each do |pattern| %>
                <%= image_submit_tag(pattern.img(:thumb), type: :image, value: pattern.img.url, class: "bottom-fill-pattern pallette-color", name: :bottom_fill) %>
              <% end %>
            </div>    
            <div col="col-md-6">
              <p>Laterals:</p>
              <% Color.all.each do |color| %>
                <%= image_submit_tag(color.img(:thumb), type: :image, value: color.img.url, class: "bottom-lateral-pattern pallette-color", name: :bottom_lateral) %>
              <% end %><br>
              <% Pattern.all.each do |pattern| %>
                <%= image_submit_tag(pattern.img(:thumb), type: :image, value: pattern.img.url, class: "bottom-lateral-pattern pallette-color", name: :bottom_lateral) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
        <h3>Colores y estampados disponibles</h3>
        <div class="row">
          <% Color.all.each do |color| %>
            <div class="col-md-1">
              <%= image_tag color.img(:medium), class: "main-pallette-item" %><br>
              <p class="main-pallette-description"><%= color.name %></p>
            </div>
           <% end %>
          </div>
        </div>
        <div class="row">
          <% Pattern.all.each do |pattern| %>
          <div class="col-md-1">
            <%= image_tag pattern.img(:medium), class: "main-pallette-item" %><br>
            <p class="main-pallette-description"><%= pattern.name %></p>
          </div>
         <% end %>
        </div>
      </div>
    </div>
  </div>
</div>