<div class="container spacer">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
    <h2>Edit product</h2>
      <%= image_tag @product.img.url(:thumb)%>
      <%= form_for @product, :url => { :action => "update" } do |f| %>
        <%= f.label "Product picture" %>
        <%= f.file_field :img %>
        <%= f.check_box :published, {}, "true", "false"%>
        <br>
        <%= f.label "Title" %>
        <%= f.text_field :title, class: "form-control", placeholder:"title" %>
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control", placeholder: "Description"%>
        <%= f.label "Price" %>
        <%= f.number_field :price, class: "form-control", placeholder: :price %>
        <%= f.label :discount %>
        <%= f.number_field :discount, class: "form-control", placeholder: :discount %>
        <%= f.label :size %>
        <%= f.text_field :size, class: "form-control", placeholder: :size %>
        <%= f.label :categories %>
        <%= f.text_field :categories, class: "form-control", placeholder: :categories %>
        <%= f.label :tags %>
        <%= f.text_field :tags, class: "form-control", placeholder: :tags %>
        <br>
        <%= f.submit "Update product", class: "btn btn-default col-sm-12"%>
      <% end %>
    </div>
  </div>
</div>
