<div class="container product-spacer">
  <div class="row">
    <div class="col-sm-5">
      <div class="product-pic">
        <% if @product.published == false %>
          <div class ="soldout-banner">
          </div> 
          <p id="soldout">Sold out</p>
        <% end %>
        <%= image_tag @product.img.url, class: "product-img"%>
      </div>
    </div>
    <div class="col-sm-5 col-sm-offset-1">
      <div class="row">
        <% if current_user && current_user.admin  %>
          <p class="pull-right"><%= link_to t("edit_product"), edit_product_path(@product.id)  %><p>
        <% end %>
        <br>
        <h3 class="product-title"><strong><%= @product.title %></strong>
        <span> 
          <% if @product.discount == nil %>
            <p class="price pull-right">$<%= @product.price.to_i %></p>
            </h3>
          <% else %>
            <p class="price pull-right"><strong> $<%= @product.discount.to_i %></strong> </p>
            </h3>
            <p class="price pull-right"> Antes $<%= @product.price.to_i %> </p>
            <br>
          <% end %>
        </span>
        <hr>
        <p class="size"><%= t("size") %> <%= @product.size %></p>
        <br>
        <p class="description"><%= @product.description %></p>
        <br>
  <!--       Add to cart button -->
  <!--       <button type="button" class="btn btn-default add-to-cart col-sm-10 col-sm-offset-1"><i class="fa fa-shopping-cart"></i> < t("add_to_cart") %></button>
        <p class="show-delivery col-sm-10 col-sm-offset-1"><t("show_delivery") %></p> -->
          <a href="#contact-product"> <button type="button" class="btn btn-default add-to-cart col-sm-10 col-sm-offset-1" id="interested-product"><%= t("email_us") %></button></a>
          <p class="show-delivery col-sm-10 col-sm-offset-1"><%= t("email_order") %></p>
        </div>
      </div>
    </div>
  </div>
</div> 
<div id="contact-product" style="display: none">
  <%= render partial: 'sites/contact_us' %>
</div>



