<div id="value-proposition">
  <div class="container">
    
    <div class="row">
      <div class="col-sm-4">
        <i class="fa fa-female"></i>
        <p class="value-proposition-title"><%= t("what") %></p>
        <hr>
        <p class="value-proposition-text"><%= t("what_text") %><a href="#contact-us" id="leave-msg"><%= t("leave_msg") %></a></p>
      </div>
      <div class="col-sm-4">
        <i class="fa fa-users"></i>
        <p class="value-proposition-title"><%= t("how")  %></p>
        <hr>
        <p class="value-proposition-text"><%= t("how_text") %></p>
      </div>
      <div class="col-sm-4">
        <i class="fa fa-heart"></i>
        <p class="value-proposition-title"><%= t("why") %></p>
        <hr>
        <p class="value-proposition-text"><%= t("why_text") %></p>
      </div>
    </div>
  </div>
</div>