<%= render partial: 'sites/main_panel' %>

<div class="col-sm-8 col-sm-offset-2">
  <%= form_tag(root_path, :method => "get", id: "search-form", role: "search") do %>
    <%= text_field_tag :search, params[:search], class:"form-control search-query", placeholder: t("search_query") %>
  <% end %>
</div>

<%= render partial: 'products/main_panel_products' %>
<%= render partial: 'sites/value_proposition' %>
<%= render partial: 'sites/location' %>
<%= render partial: 'sites/contact_us' %>
