  <%= render partial: 'sites/main_panel' %>
  <%= render partial: 'products/main_panel_products' %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">  
      </div>
  </div>
</div>
<%= render partial: 'sites/value_proposition' %>
<%= render partial: 'sites/location' %>
<%= render partial: 'sites/contact_us' %>
