<!DOCTYPE html>
<html>
<head>
  <title>CRUSH by AC</title>
  <link rel="shortcut icon" href="/assets/sites/icon_header.jpg">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  
  <%= render partial: 'sites/navbar' %>

  <% if notice %>
	 <p class="notice"><%= notice %></p>
  <% elsif %>
   <p class="alert"><%= alert %></p>
  <% end %>
  
  <div class="wrap">
  <%= yield %>
  </div>
  <%= render partial: 'sites/footer' %>

</body>
</html>

