<!DOCTYPE html>
<html>
<head>
  <title>Vestidos de baño | CRUSH by AC</title>
  <link rel="shortcut icon" href="/assets/sites/icon_header.jpg">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="webtitle" content="Vestidos de baño | CRUSH by AC">
  <meta name="keywords" content="vestidos de baño, trajes de baño, bikinis, bikinis de mola, trajes de baño de mola, swimwear, beachwear, vestidos de baño de mola, panamanian swimwear, panamanian">
  <meta name="author" content="Alexandra Chen">
  <meta name="description" content:"Vestidos de baño, ropa de playa, accesorios y ropa deportiva hecha en Panamá">
  <meta name="webdescription" content="Siempre es verano en alguna parte del mundo. Escoge tu traje de baño favorito">
  <%= javascript_include_tag 'application'%>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOW6CV25iW0KYSU_-PaaPX4bLOZwYaomU" type="text/javascript"></script>
  <script>
    function initialize() {
      var mapProp = {
        center:new google.maps.LatLng(8.9844594, -79.5295954),
        zoom:17,
        mapTypeId:google.maps.MapTypeId.ROADMAP
      }
      var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
      var marker = new google.maps.Marker({
        position: mapProp.center,
        map: map,
        title: 'Crush location'
      })
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</head>
<body>
  <%= render partial: 'sites/navbar' %>
  <% if notice %>
    <div id="notice"><p><%= notice %> <strong>[x]</strong> </p></div>
  <% elsif alert %>
    <div id="alert"><p><%= alert %> <strong>[x]</strong> </p></div>
  <% end %>
  
<!--   <div class="wrap"> -->
    <%= yield %>
    <a href="#" class="scrollup">Scroll</a>
<!--   </div> -->
  <%= render partial: 'sites/footer' %>

  <script>
    var router = new Router()
  </script>
</body>
</html>

