<!DOCTYPE html>
<html>
<head>
  <title>CRUSH by AC</title>
  <link rel="shortcut icon" href="/assets/sites/icon_header.jpg">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrap">
  <%= render partial: 'sites/navbar' %>

  <% if notice %>
	 <p class="notice"><%= notice %></p>
  <% elsif %>
   <p class="alert"><%= alert %></p>
  <% end %>

  <%= render partial: 'sites/main_panel' %>
  <%= render partial: 'products/main_panel_products' %>
    
  <%= yield %>
  </div>
  <%= render partial: 'sites/footer' %>

</body>
</html>

